{% extends "layout.html" %}

{% block body %}
  <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
    {% for event in events %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated on {{ event.updated }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}