{% extends "layout.html" %}

{% block body %}
  <main class="container">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum in itaque
      delectus ab quibusdam molestias tempora saepe possimus iure, porro illum
      quis alias esse est quasi ipsum eos nesciunt perferendis. Consequuntur
      repudiandae magnam exercitationem illo laboriosam velit laudantium ad,
      dignissimos aut vel in assumenda quae ab vitae necessitatibus esse culpa
      quaerat accusantium fugiat!
    </p>
    <p>
      Quam, illum pariatur. Vel, nemo magnam, veritatis sed consectetur cum ab
      animi culpa dicta reprehenderit eligendi, expedita sunt? Cumque tempore
      aliquam officiis tenetur nam perferendis cum voluptates officia minus
      pariatur, sed facere ad ea possimus explicabo veniam natus obcaecati
      labore illo assumenda deserunt ipsum non vel perspiciatis.
    </p>
  </main>
{% endblock %}